[workspace]
members = ["arro3-compute", "arro3-core", "arro3-io", "pyo3-arrow"]
resolver = "2"

[workspace.package]
# Package version for arro3-*, not for pyo3-arrow
version = "0.4.1"
authors = ["Kyle Barron <kylebarron2@gmail.com>"]
edition = "2021"
homepage = "https://kylebarron.dev/arro3"
repository = "https://github.com/kylebarron/arro3"
license = "MIT OR Apache-2.0"
keywords = ["python", "arrow"]
categories = []
rust-version = "1.75"

[workspace.dependencies]
arrow = { version = "53", features = ["ffi"] }
arrow-array = "53"
arrow-buffer = "53"
arrow-cast = "53"
arrow-csv = "53"
arrow-ipc = { version = "53", features = ["lz4", "zstd"] }
arrow-schema = "53"
arrow-select = "53"
half = "2"
indexmap = "2"
numpy = "0.22"
parquet = "53"
pyo3 = { version = "0.22", features = ["macros", "indexmap"] }
pyo3-file = "0.9"
thiserror = "1"

[profile.release]
lto = true
codegen-units = 1
