[package]
name = "pyo3-arrow"
version = "0.7.2"
authors = ["Kyle Barron <kylebarron2@gmail.com>"]
edition = "2021"
description = "Arrow integration for pyo3."
readme = "README.md"
repository = "https://github.com/kylebarron/arro3"
license = "MIT OR Apache-2.0"
keywords = ["python", "arrow"]
categories = []
rust-version = "1.75"

[features]
default = ["buffer_protocol"]

# Support buffer protocol. Requires `abi3-py311` pyo3 feature or non-abi3
# wheels.
buffer_protocol = []

[dependencies]
chrono = "0.4.39"

arrow-array = "54"
arrow-buffer = "54"
arrow-schema = "54"
arrow = { version = "54", features = ["ffi", "chrono-tz"] }
pyo3 = { version = "0.23.4", features = ["chrono", "chrono-tz", "indexmap"] }
half = "2"
indexmap = "2"
# numpy = { version = "0.23", features = ["half"] }
numpy = { git = "https://github.com/PyO3/rust-numpy.git", rev = "8dd4f8e2934126a8323b8c8f00e69b0182b8ecee", features = ["half"] }
thiserror = "1"

[dev-dependencies]
arrow-select = "54"

[lib]
crate-type = ["rlib"]
